* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-wrapper {
    position: relative;
}


.orbit {
    position: relative;
    width: 220px;
    height: 220px;
}


.avatar {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 3;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}


.ring {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 3px solid transparent;
}


.ring-1 {
    border-top: 2px solid #6ee7ff;
    animation: spin 3s linear infinite;
    filter: drop-shadow(0 0 8px #6ee7ff);
}


.ring-2 {
    inset: 15px;
    border-right: 2px solid #a78bfa;
    animation: spin-reverse 6s linear infinite;
    filter: drop-shadow(0 0 8px #a78bfa);
}

.ring-3 {
    inset: 30px;
    border-bottom: 2px solid #FAD2E1;
    animation: spin 3s linear infinite;
    filter: drop-shadow(0 0 8px #FAD2E1);
}

.ring-4 {
    inset: 45px;
    border-left: 2px solid #CDEFE3;
    animation: spin 2s linear infinite;
    filter: drop-shadow(0 0 8px #CDEFE3);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@keyframes spin-reverse {
    to {
        transform: rotate(-360deg);
    }
}